gitIt.sh
tests/
studentcode/
*.class
testing/
labs/lab5/
assessments/
*.log
*~
*.swp
fromslides/S08*
fromslides/S09*
fromslides/S10*
fromslides/S11*
fromslides/S12*
fromslides/S13*
fromslides/S14*
fromslides/S14*
fromslides/S15*
fromslides/S16*
fromslides/S17*
fromslides/S99*
